<div>
  <h1>Widgets</h1>
  <form {{on 'submit' this.handleAddWidget}}>
    <Input @value={{this.newWidgetName}} type="text" placeholder="Widget" />
    <button type="submit">Add</button>
  </form>
  <ul>
    {{#each this.widgets as |widget|}}
    <li>{{widget}}</li>
    {{/each}}
  </ul>
</div>
